* {
  box-sizing: border-box;
}

html, body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  font-size: 100px;
  padding: 30px;
  text-align: center;
}

.center {
  align-self: center;
}

.flow-right {
  display: flex;
  justify-content: space-around;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}

.button {
  padding: 10px 20px;
}

.todo-list {
  padding: 20px;
  overflow-y: auto;
}

.todo-checkbox {
  margin: 10px;
  width: 10px;
  height: 10px;
}
.check {
  width: 15px;
  height: 15px;
  margin: 10px;
}

.todo-container {
  padding: 20px;
  border-bottom: 1px solid #333;
}

.todo-container:first-of-type {
  border-top: 1px solid #333;
}
.todo-text {
  font-size: 30px;
  color: blue;
}
.title {
  color: blue;
}
.ghostDiv {
  display: flex;
  justify-content: center;
  padding: 3px;
}
.check-del-box {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid blue;
}
.delete-button {
  font-size: 15px;
  width: 60px;
  height: 20px;
  float: right;
  margin:10px;

}
.input-submit {
  border: 1px solid blue;
}
.input-text {
}